:root {
  --contrast-color-default: rgba(0, 0, 0, 0.87);
  --color-overlay-0: rgba(0, 0, 0, 0);
  --color-overlay-1: rgba(0, 0, 0, 0.05);
  --color-overlay-2: rgba(0, 0, 0, 0.07);
  --color-overlay-3: rgba(0, 0, 0, 0.08);
  --color-overlay-4: rgba(0, 0, 0, 0.09);
  --color-overlay-6: rgba(0, 0, 0, 0.11);
  --color-overlay-8: rgba(0, 0, 0, 0.12);
  --color-overlay-12: rgba(0, 0, 0, 0.14);
  --color-overlay-16: rgba(0, 0, 0, 0.15);
  --color-overlay-24: rgba(0, 0, 0, 0.16);
  --color-overlay-100: black;
  --color-red: #d32f2f;
  --contrast-color-red: rgba(0, 0, 0, 0.87);
  --color-pink: #c2185b;
  --contrast-color-pink: rgba(255, 255, 255, 0.87);
  --color-indigo: #303f9f;
  --contrast-color-indigo: rgba(255, 255, 255, 0.87);
  --color-blue: #1976d2;
  --contrast-color-blue: rgba(255, 255, 255, 0.87);
  --color-green: #388e3c;
  --contrast-color-green: rgba(255, 255, 255, 0.87);
  --color-orange: #f57c00;
  --contrast-color-orange: rgba(255, 255, 255, 0.87);
  --color-grey: #616161;
  --contrast-color-grey: rgba(255, 255, 255, 0.87);
}

[data-theme='dark'] {
  --contrast-color-default: rgba(255, 255, 255, 0.87);
  --color-overlay-1: rgba(255, 255, 255, 0.05);
  --color-overlay-2: rgba(255, 255, 255, 0.07);
  --color-overlay-3: rgba(255, 255, 255, 0.08);
  --color-overlay-4: rgba(255, 255, 255, 0.09);
  --color-overlay-6: rgba(255, 255, 255, 0.11);
  --color-overlay-8: rgba(255, 255, 255, 0.12);
  --color-overlay-12: rgba(255, 255, 255, 0.14);
  --color-overlay-16: rgba(255, 255, 255, 0.15);
  --color-overlay-24: rgba(255, 255, 255, 0.16);
  --color-overlay-100: white;
  --color-red: #ef5350;
  --contrast-color-red: rgba(0, 0, 0, 0.87);
  --color-pink: #ec407a;
  --contrast-color-pink: rgba(0, 0, 0, 0.87);
  --color-indigo: #5c6bc0;
  --contrast-color-indigo: rgba(0, 0, 0, 0.87);
  --color-blue: #42a5f5;
  --contrast-color-blue: rgba(0, 0, 0, 0.87);
  --color-green: #66bb6a;
  --contrast-color-green: rgba(0, 0, 0, 0.87);
  --color-orange: #ffa726;
  --contrast-color-orange: rgba(0, 0, 0, 0.87);
  --color-grey: #bdbdbd;
  --contrast-color-grey: rgba(0, 0, 0, 0.87);
}

.pos-s {
  position: static;
}

.pos-a {
  position: absolute;
}

.pos-f {
  position: fixed;
}

.pos-r {
  position: relative;
}

.pos-st {
  position: -webkit-sticky;
  position: sticky;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-if {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.d-i {
  display: inline;
}

.d-ib {
  display: inline-block;
}

.d-tb {
  display: table;
}

.d-tbr {
  display: table-row;
}

.d-tbc {
  display: table-cell;
}

.d-li {
  display: list-item;
}

.d-ri {
  display: run-in;
}

.d-cp {
  display: compact;
}

.d-itb {
  display: inline-table;
}

.d-tbcl {
  display: table-column;
}

.d-tbclg {
  display: table-column-group;
}

.d-tbgh {
  display: table-header-group;
}

.d-tbfg {
  display: table-footer-group;
}

.d-tbrg {
  display: table-row-group;
}

.fxd-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fxd-rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.fxd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fxd-cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.fxw-nw {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.fxw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.fxw-wr {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.fxf-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.fxf-rr {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}

.fxf-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.fxf-cr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
}

.fxf-nw {
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
}

.fxf-w {
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.fxf-wr {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: wrap-reverse;
          flex-flow: wrap-reverse;
}

.jc-fs {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jc-w {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.jc-s {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.ai-fs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ai-fs {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai-b {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.ai-st {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.ac-fs {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.ac-fe {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.ac-c {
  -ms-flex-line-pack: center;
      align-content: center;
}

.ac-sb {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.ac-sa {
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.ac-st {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.fxg-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.fxs-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.fxs-1 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.fxb-a {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

.fxb-n {
  -ms-flex-preferred-size: none;
      flex-basis: none;
}

.fx-a {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.fx-n {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.as-a {
  -ms-flex-item-align: auto;
      -ms-grid-row-align: auto;
      align-self: auto;
}

.as-fs {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.as-fe {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.as-c {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.as-b {
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.as-st {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}

.fl-n {
  float: none;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.cl-n {
  clear: none;
}

.cl-b {
  clear: both;
}

.cl-l {
  clear: left;
}

.cl-r {
  clear: right;
}

.w-a {
  width: auto;
}

.miw-a {
  min-width: auto;
}

.maw-a {
  max-width: auto;
}

.h-a {
  height: auto;
}

.mih-a {
  min-height: auto;
}

.mah-a {
  max-height: auto;
}

.w-0 {
  width: 0;
}

.miw-0 {
  min-width: 0;
}

.maw-0 {
  max-width: 0;
}

.h-0 {
  height: 0;
}

.mih-0 {
  min-height: 0;
}

.mah-0 {
  max-height: 0;
}

.w-5 {
  width: 5%;
}

.miw-5 {
  min-width: 5%;
}

.maw-5 {
  max-width: 5%;
}

.h-5 {
  height: 5%;
}

.mih-5 {
  min-height: 5%;
}

.mah-5 {
  max-height: 5%;
}

.w-10 {
  width: 10%;
}

.miw-10 {
  min-width: 10%;
}

.maw-10 {
  max-width: 10%;
}

.h-10 {
  height: 10%;
}

.mih-10 {
  min-height: 10%;
}

.mah-10 {
  max-height: 10%;
}

.w-15 {
  width: 15%;
}

.miw-15 {
  min-width: 15%;
}

.maw-15 {
  max-width: 15%;
}

.h-15 {
  height: 15%;
}

.mih-15 {
  min-height: 15%;
}

.mah-15 {
  max-height: 15%;
}

.w-20 {
  width: 20%;
}

.miw-20 {
  min-width: 20%;
}

.maw-20 {
  max-width: 20%;
}

.h-20 {
  height: 20%;
}

.mih-20 {
  min-height: 20%;
}

.mah-20 {
  max-height: 20%;
}

.w-25 {
  width: 25%;
}

.miw-25 {
  min-width: 25%;
}

.maw-25 {
  max-width: 25%;
}

.h-25 {
  height: 25%;
}

.mih-25 {
  min-height: 25%;
}

.mah-25 {
  max-height: 25%;
}

.w-30 {
  width: 30%;
}

.miw-30 {
  min-width: 30%;
}

.maw-30 {
  max-width: 30%;
}

.h-30 {
  height: 30%;
}

.mih-30 {
  min-height: 30%;
}

.mah-30 {
  max-height: 30%;
}

.w-35 {
  width: 35%;
}

.miw-35 {
  min-width: 35%;
}

.maw-35 {
  max-width: 35%;
}

.h-35 {
  height: 35%;
}

.mih-35 {
  min-height: 35%;
}

.mah-35 {
  max-height: 35%;
}

.w-40 {
  width: 40%;
}

.miw-40 {
  min-width: 40%;
}

.maw-40 {
  max-width: 40%;
}

.h-40 {
  height: 40%;
}

.mih-40 {
  min-height: 40%;
}

.mah-40 {
  max-height: 40%;
}

.w-45 {
  width: 45%;
}

.miw-45 {
  min-width: 45%;
}

.maw-45 {
  max-width: 45%;
}

.h-45 {
  height: 45%;
}

.mih-45 {
  min-height: 45%;
}

.mah-45 {
  max-height: 45%;
}

.w-50 {
  width: 50%;
}

.miw-50 {
  min-width: 50%;
}

.maw-50 {
  max-width: 50%;
}

.h-50 {
  height: 50%;
}

.mih-50 {
  min-height: 50%;
}

.mah-50 {
  max-height: 50%;
}

.w-55 {
  width: 55%;
}

.miw-55 {
  min-width: 55%;
}

.maw-55 {
  max-width: 55%;
}

.h-55 {
  height: 55%;
}

.mih-55 {
  min-height: 55%;
}

.mah-55 {
  max-height: 55%;
}

.w-60 {
  width: 60%;
}

.miw-60 {
  min-width: 60%;
}

.maw-60 {
  max-width: 60%;
}

.h-60 {
  height: 60%;
}

.mih-60 {
  min-height: 60%;
}

.mah-60 {
  max-height: 60%;
}

.w-65 {
  width: 65%;
}

.miw-65 {
  min-width: 65%;
}

.maw-65 {
  max-width: 65%;
}

.h-65 {
  height: 65%;
}

.mih-65 {
  min-height: 65%;
}

.mah-65 {
  max-height: 65%;
}

.w-70 {
  width: 70%;
}

.miw-70 {
  min-width: 70%;
}

.maw-70 {
  max-width: 70%;
}

.h-70 {
  height: 70%;
}

.mih-70 {
  min-height: 70%;
}

.mah-70 {
  max-height: 70%;
}

.w-75 {
  width: 75%;
}

.miw-75 {
  min-width: 75%;
}

.maw-75 {
  max-width: 75%;
}

.h-75 {
  height: 75%;
}

.mih-75 {
  min-height: 75%;
}

.mah-75 {
  max-height: 75%;
}

.w-80 {
  width: 80%;
}

.miw-80 {
  min-width: 80%;
}

.maw-80 {
  max-width: 80%;
}

.h-80 {
  height: 80%;
}

.mih-80 {
  min-height: 80%;
}

.mah-80 {
  max-height: 80%;
}

.w-85 {
  width: 85%;
}

.miw-85 {
  min-width: 85%;
}

.maw-85 {
  max-width: 85%;
}

.h-85 {
  height: 85%;
}

.mih-85 {
  min-height: 85%;
}

.mah-85 {
  max-height: 85%;
}

.w-90 {
  width: 90%;
}

.miw-90 {
  min-width: 90%;
}

.maw-90 {
  max-width: 90%;
}

.h-90 {
  height: 90%;
}

.mih-90 {
  min-height: 90%;
}

.mah-90 {
  max-height: 90%;
}

.w-95 {
  width: 95%;
}

.miw-95 {
  min-width: 95%;
}

.maw-95 {
  max-width: 95%;
}

.h-95 {
  height: 95%;
}

.mih-95 {
  min-height: 95%;
}

.mah-95 {
  max-height: 95%;
}

.w-100 {
  width: 100%;
}

.miw-100 {
  min-width: 100%;
}

.maw-100 {
  max-width: 100%;
}

.h-100 {
  height: 100%;
}

.mih-100 {
  min-height: 100%;
}

.mah-100 {
  max-height: 100%;
}

.p-a {
  padding: auto;
}

.p-t-a,
.p-y-a {
  padding-top: auto;
}

.p-b-a,
.p-y-a {
  padding-bottom: auto;
}

.p-l-a,
.p-x-a {
  padding-left: auto;
}

.p-r-a,
.p-x-a {
  padding-right: auto;
}

.m-a {
  margin: auto;
}

.m-t-a,
.m-y-a {
  margin-top: auto;
}

.m-b-a,
.m-y-a {
  margin-bottom: auto;
}

.m-l-a,
.m-x-a {
  margin-left: auto;
}

.m-r-a,
.m-x-a {
  margin-right: auto;
}

.p-0 {
  padding: 0;
}

.p-t-0,
.p-y-0 {
  padding-top: 0;
}

.p-b-0,
.p-y-0 {
  padding-bottom: 0;
}

.p-l-0,
.p-x-0 {
  padding-left: 0;
}

.p-r-0,
.p-x-0 {
  padding-right: 0;
}

.m-0 {
  margin: 0;
}

.m-t-0,
.m-y-0 {
  margin-top: 0;
}

.m-b-0,
.m-y-0 {
  margin-bottom: 0;
}

.m-l-0,
.m-x-0 {
  margin-left: 0;
}

.m-r-0,
.m-x-0 {
  margin-right: 0;
}

.p-5 {
  padding: 5px;
}

.p-t-5,
.p-y-5 {
  padding-top: 5px;
}

.p-b-5,
.p-y-5 {
  padding-bottom: 5px;
}

.p-l-5,
.p-x-5 {
  padding-left: 5px;
}

.p-r-5,
.p-x-5 {
  padding-right: 5px;
}

.m-5 {
  margin: 5px;
}

.m-t-5,
.m-y-5 {
  margin-top: 5px;
}

.m-b-5,
.m-y-5 {
  margin-bottom: 5px;
}

.m-l-5,
.m-x-5 {
  margin-left: 5px;
}

.m-r-5,
.m-x-5 {
  margin-right: 5px;
}

.bd-d {
  border: 1px dotted var(--color-overlay-12);
}

.bd-da {
  border: 1px dashed var(--color-overlay-12);
}

.bd-do {
  border: 1px double var(--color-overlay-12);
}

.bd-g {
  border: 1px groove var(--color-overlay-12);
}

.bd-h {
  border: 1px hidden var(--color-overlay-12);
}

.bd-i {
  border: 1px inset var(--color-overlay-12);
}

.bd-n {
  border: 1px none var(--color-overlay-12);
}

.bd-o {
  border: 1px outset var(--color-overlay-12);
}

.bd-r {
  border: 1px ridge var(--color-overlay-12);
}

.bd-s {
  border: 1px solid var(--color-overlay-12);
}

.bdw-0 {
  border-width: 0;
}

.bdw-t-0,
.bdw-y-0 {
  border-top-width: 0;
}

.bdw-b-0,
.bdw-y-0 {
  border-bottom-width: 0;
}

.bdw-r-0,
.bdw-x-0 {
  border-right-width: 0;
}

.bdw-l-0,
.bdw-x-0 {
  border-left-width: 0;
}

.bdw-1 {
  border-width: 1px;
}

.bdw-t-1,
.bdw-y-1 {
  border-top-width: 1px;
}

.bdw-b-1,
.bdw-y-1 {
  border-bottom-width: 1px;
}

.bdw-r-1,
.bdw-x-1 {
  border-right-width: 1px;
}

.bdw-l-1,
.bdw-x-1 {
  border-left-width: 1px;
}

.bdw-2 {
  border-width: 2px;
}

.bdw-t-2,
.bdw-y-2 {
  border-top-width: 2px;
}

.bdw-b-2,
.bdw-y-2 {
  border-bottom-width: 2px;
}

.bdw-r-2,
.bdw-x-2 {
  border-right-width: 2px;
}

.bdw-l-2,
.bdw-x-2 {
  border-left-width: 2px;
}

.bdw-3 {
  border-width: 3px;
}

.bdw-t-3,
.bdw-y-3 {
  border-top-width: 3px;
}

.bdw-b-3,
.bdw-y-3 {
  border-bottom-width: 3px;
}

.bdw-r-3,
.bdw-x-3 {
  border-right-width: 3px;
}

.bdw-l-3,
.bdw-x-3 {
  border-left-width: 3px;
}

.bdc-ov-1 {
  border-color: var(--color-overlay-1);
}

.bdc-ov-2 {
  border-color: var(--color-overlay-2);
}

.bdc-ov-3 {
  border-color: var(--color-overlay-3);
}

.bdc-ov-4 {
  border-color: var(--color-overlay-4);
}

.bdc-ov-6 {
  border-color: var(--color-overlay-6);
}

.bdc-ov-8 {
  border-color: var(--color-overlay-8);
}

.bdc-ov-12 {
  border-color: var(--color-overlay-12);
}

.bdc-ov-16 {
  border-color: var(--color-overlay-16);
}

.bdc-ov-24 {
  border-color: var(--color-overlay-24);
}

.bdc-ov-100 {
  border-color: var(--color-overlay-100);
}

.bdc-red {
  border-color: var(--color-red);
}

.bdc-pink {
  border-color: var(--color-pink);
}

.bdc-indigo {
  border-color: var(--color-indigo);
}

.bdc-blue {
  border-color: var(--color-blue);
}

.bdc-green {
  border-color: var(--color-green);
}

.bdc-orange {
  border-color: var(--color-orange);
}

.bdc-grey {
  border-color: var(--color-grey);
}

.ov-a {
  overflow: auto;
}

.ov-h {
  overflow: hidden;
}

.ov-s {
  overflow: scroll;
}

.ov-v {
  overflow: visible;
}

.ovx-a {
  overflow-x: auto;
}

.ovx-h {
  overflow-x: hidden;
}

.ovx-s {
  overflow-x: scroll;
}

.ovx-v {
  overflow-x: visible;
}

.ovy-a {
  overflow-y: auto;
}

.ovy-h {
  overflow-y: hidden;
}

.ovy-s {
  overflow-y: scroll;
}

.ovy-v {
  overflow-y: visible;
}

.cl-white {
  color: var(--white);
}

.cl-black {
  color: var(--black);
}

.cl-red {
  color: var(--red);
}

.cl-contrast-red {
  color: var(--contrast-red);
}

.cl-pink {
  color: var(--pink);
}

.cl-contrast-pink {
  color: var(--contrast-pink);
}

.cl-indigo {
  color: var(--indigo);
}

.cl-contrast-indigo {
  color: var(--contrast-indigo);
}

.cl-blue {
  color: var(--blue);
}

.cl-contrast-blue {
  color: var(--contrast-blue);
}

.cl-green {
  color: var(--green);
}

.cl-contrast-green {
  color: var(--contrast-green);
}

.cl-orange {
  color: var(--orange);
}

.cl-contrast-orange {
  color: var(--contrast-orange);
}

.cl-grey {
  color: var(--grey);
}

.cl-contrast-grey {
  color: var(--contrast-grey);
}

.bgc-white-1 {
  background-color: rgba(255, 255, 255, 0.05);
}

.bgc-white-2 {
  background-color: rgba(255, 255, 255, 0.07);
}

.bgc-white-3 {
  background-color: rgba(255, 255, 255, 0.08);
}

.bgc-white-4 {
  background-color: rgba(255, 255, 255, 0.09);
}

.bgc-white-6 {
  background-color: rgba(255, 255, 255, 0.11);
}

.bgc-white-8 {
  background-color: rgba(255, 255, 255, 0.12);
}

.bgc-white-12 {
  background-color: rgba(255, 255, 255, 0.14);
}

.bgc-white-16 {
  background-color: rgba(255, 255, 255, 0.15);
}

.bgc-white-24 {
  background-color: rgba(255, 255, 255, 0.16);
}

.bgc-white-100 {
  background-color: white;
}

.bgc-black-0 {
  background-color: rgba(0, 0, 0, 0);
}

.bgc-black-1 {
  background-color: rgba(0, 0, 0, 0.05);
}

.bgc-black-2 {
  background-color: rgba(0, 0, 0, 0.07);
}

.bgc-black-3 {
  background-color: rgba(0, 0, 0, 0.08);
}

.bgc-black-4 {
  background-color: rgba(0, 0, 0, 0.09);
}

.bgc-black-6 {
  background-color: rgba(0, 0, 0, 0.11);
}

.bgc-black-8 {
  background-color: rgba(0, 0, 0, 0.12);
}

.bgc-black-12 {
  background-color: rgba(0, 0, 0, 0.14);
}

.bgc-black-16 {
  background-color: rgba(0, 0, 0, 0.15);
}

.bgc-black-24 {
  background-color: rgba(0, 0, 0, 0.16);
}

.bgc-black-100 {
  background-color: black;
}

.bgc-red-50 {
  background-color: #ffebee;
}

.bgc-red-100 {
  background-color: #ffcdd2;
}

.bgc-red-200 {
  background-color: #ef9a9a;
}

.bgc-red-300 {
  background-color: #e57373;
}

.bgc-red-400 {
  background-color: #ef5350;
}

.bgc-red-500 {
  background-color: #f44336;
}

.bgc-red-600 {
  background-color: #e53935;
}

.bgc-red-700 {
  background-color: #d32f2f;
}

.bgc-red-800 {
  background-color: #c62828;
}

.bgc-red-900 {
  background-color: #b71c1c;
}

.bgc-red-A100 {
  background-color: #ff8a80;
}

.bgc-red-A200 {
  background-color: #ff5252;
}

.bgc-red-A400 {
  background-color: #ff1744;
}

.bgc-red-A700 {
  background-color: #d50000;
}

.bgc-pink-50 {
  background-color: #fce4ec;
}

.bgc-pink-100 {
  background-color: #f8bbd0;
}

.bgc-pink-200 {
  background-color: #f48fb1;
}

.bgc-pink-300 {
  background-color: #f06292;
}

.bgc-pink-400 {
  background-color: #ec407a;
}

.bgc-pink-500 {
  background-color: #e91e63;
}

.bgc-pink-600 {
  background-color: #d81b60;
}

.bgc-pink-700 {
  background-color: #c2185b;
}

.bgc-pink-800 {
  background-color: #ad1457;
}

.bgc-pink-900 {
  background-color: #880e4f;
}

.bgc-pink-A100 {
  background-color: #ff80ab;
}

.bgc-pink-A200 {
  background-color: #ff4081;
}

.bgc-pink-A400 {
  background-color: #f50057;
}

.bgc-pink-A700 {
  background-color: #c51162;
}

.bgc-indigo-50 {
  background-color: #e8eaf6;
}

.bgc-indigo-100 {
  background-color: #c5cae9;
}

.bgc-indigo-200 {
  background-color: #9fa8da;
}

.bgc-indigo-300 {
  background-color: #7986cb;
}

.bgc-indigo-400 {
  background-color: #5c6bc0;
}

.bgc-indigo-500 {
  background-color: #3f51b5;
}

.bgc-indigo-600 {
  background-color: #3949ab;
}

.bgc-indigo-700 {
  background-color: #303f9f;
}

.bgc-indigo-800 {
  background-color: #283593;
}

.bgc-indigo-900 {
  background-color: #1a237e;
}

.bgc-indigo-A100 {
  background-color: #8c9eff;
}

.bgc-indigo-A200 {
  background-color: #536dfe;
}

.bgc-indigo-A400 {
  background-color: #3d5afe;
}

.bgc-indigo-A700 {
  background-color: #304ffe;
}

.bgc-blue-50 {
  background-color: #e3f2fd;
}

.bgc-blue-100 {
  background-color: #bbdefb;
}

.bgc-blue-200 {
  background-color: #90caf9;
}

.bgc-blue-300 {
  background-color: #64b5f6;
}

.bgc-blue-400 {
  background-color: #42a5f5;
}

.bgc-blue-500 {
  background-color: #2196f3;
}

.bgc-blue-600 {
  background-color: #1e88e5;
}

.bgc-blue-700 {
  background-color: #1976d2;
}

.bgc-blue-800 {
  background-color: #1565c0;
}

.bgc-blue-900 {
  background-color: #0d47a1;
}

.bgc-blue-A100 {
  background-color: #82b1ff;
}

.bgc-blue-A200 {
  background-color: #448aff;
}

.bgc-blue-A400 {
  background-color: #2979ff;
}

.bgc-blue-A700 {
  background-color: #2962ff;
}

.bgc-green-50 {
  background-color: #e8f5e9;
}

.bgc-green-100 {
  background-color: #c8e6c9;
}

.bgc-green-200 {
  background-color: #a5d6a7;
}

.bgc-green-300 {
  background-color: #81c784;
}

.bgc-green-400 {
  background-color: #66bb6a;
}

.bgc-green-500 {
  background-color: #4caf50;
}

.bgc-green-600 {
  background-color: #43a047;
}

.bgc-green-700 {
  background-color: #388e3c;
}

.bgc-green-800 {
  background-color: #2e7d32;
}

.bgc-green-900 {
  background-color: #1b5e20;
}

.bgc-green-A100 {
  background-color: #b9f6ca;
}

.bgc-green-A200 {
  background-color: #69f0ae;
}

.bgc-green-A400 {
  background-color: #00e676;
}

.bgc-green-A700 {
  background-color: #00c853;
}

.bgc-orange-50 {
  background-color: #fff3e0;
}

.bgc-orange-100 {
  background-color: #ffe0b2;
}

.bgc-orange-200 {
  background-color: #ffcc80;
}

.bgc-orange-300 {
  background-color: #ffb74d;
}

.bgc-orange-400 {
  background-color: #ffa726;
}

.bgc-orange-500 {
  background-color: #ff9800;
}

.bgc-orange-600 {
  background-color: #fb8c00;
}

.bgc-orange-700 {
  background-color: #f57c00;
}

.bgc-orange-800 {
  background-color: #ef6c00;
}

.bgc-orange-900 {
  background-color: #e65100;
}

.bgc-orange-A100 {
  background-color: #ffd180;
}

.bgc-orange-A200 {
  background-color: #ffab40;
}

.bgc-orange-A400 {
  background-color: #ff9100;
}

.bgc-orange-A700 {
  background-color: #ff6d00;
}

.bgc-grey-50 {
  background-color: #fafafa;
}

.bgc-grey-100 {
  background-color: #f5f5f5;
}

.bgc-grey-200 {
  background-color: #eeeeee;
}

.bgc-grey-300 {
  background-color: #e0e0e0;
}

.bgc-grey-400 {
  background-color: #bdbdbd;
}

.bgc-grey-500 {
  background-color: #9e9e9e;
}

.bgc-grey-600 {
  background-color: #757575;
}

.bgc-grey-700 {
  background-color: #616161;
}

.bgc-grey-800 {
  background-color: #424242;
}

.bgc-grey-900 {
  background-color: #212121;
}

.h\:bgc-white-1:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.h\:bgc-white-2:hover {
  background-color: rgba(255, 255, 255, 0.07);
}

.h\:bgc-white-3:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.h\:bgc-white-4:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.h\:bgc-white-6:hover {
  background-color: rgba(255, 255, 255, 0.11);
}

.h\:bgc-white-8:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.h\:bgc-white-12:hover {
  background-color: rgba(255, 255, 255, 0.14);
}

.h\:bgc-white-16:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.h\:bgc-white-24:hover {
  background-color: rgba(255, 255, 255, 0.16);
}

.h\:bgc-white-100:hover {
  background-color: white;
}

.h\:bgc-black-0:hover {
  background-color: rgba(0, 0, 0, 0);
}

.h\:bgc-black-1:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.h\:bgc-black-2:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

.h\:bgc-black-3:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.h\:bgc-black-4:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.h\:bgc-black-6:hover {
  background-color: rgba(0, 0, 0, 0.11);
}

.h\:bgc-black-8:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.h\:bgc-black-12:hover {
  background-color: rgba(0, 0, 0, 0.14);
}

.h\:bgc-black-16:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.h\:bgc-black-24:hover {
  background-color: rgba(0, 0, 0, 0.16);
}

.h\:bgc-black-100:hover {
  background-color: black;
}

.h\:bgc-red-50:hover {
  background-color: #ffebee;
}

.h\:bgc-red-100:hover {
  background-color: #ffcdd2;
}

.h\:bgc-red-200:hover {
  background-color: #ef9a9a;
}

.h\:bgc-red-300:hover {
  background-color: #e57373;
}

.h\:bgc-red-400:hover {
  background-color: #ef5350;
}

.h\:bgc-red-500:hover {
  background-color: #f44336;
}

.h\:bgc-red-600:hover {
  background-color: #e53935;
}

.h\:bgc-red-700:hover {
  background-color: #d32f2f;
}

.h\:bgc-red-800:hover {
  background-color: #c62828;
}

.h\:bgc-red-900:hover {
  background-color: #b71c1c;
}

.h\:bgc-red-A100:hover {
  background-color: #ff8a80;
}

.h\:bgc-red-A200:hover {
  background-color: #ff5252;
}

.h\:bgc-red-A400:hover {
  background-color: #ff1744;
}

.h\:bgc-red-A700:hover {
  background-color: #d50000;
}

.h\:bgc-pink-50:hover {
  background-color: #fce4ec;
}

.h\:bgc-pink-100:hover {
  background-color: #f8bbd0;
}

.h\:bgc-pink-200:hover {
  background-color: #f48fb1;
}

.h\:bgc-pink-300:hover {
  background-color: #f06292;
}

.h\:bgc-pink-400:hover {
  background-color: #ec407a;
}

.h\:bgc-pink-500:hover {
  background-color: #e91e63;
}

.h\:bgc-pink-600:hover {
  background-color: #d81b60;
}

.h\:bgc-pink-700:hover {
  background-color: #c2185b;
}

.h\:bgc-pink-800:hover {
  background-color: #ad1457;
}

.h\:bgc-pink-900:hover {
  background-color: #880e4f;
}

.h\:bgc-pink-A100:hover {
  background-color: #ff80ab;
}

.h\:bgc-pink-A200:hover {
  background-color: #ff4081;
}

.h\:bgc-pink-A400:hover {
  background-color: #f50057;
}

.h\:bgc-pink-A700:hover {
  background-color: #c51162;
}

.h\:bgc-indigo-50:hover {
  background-color: #e8eaf6;
}

.h\:bgc-indigo-100:hover {
  background-color: #c5cae9;
}

.h\:bgc-indigo-200:hover {
  background-color: #9fa8da;
}

.h\:bgc-indigo-300:hover {
  background-color: #7986cb;
}

.h\:bgc-indigo-400:hover {
  background-color: #5c6bc0;
}

.h\:bgc-indigo-500:hover {
  background-color: #3f51b5;
}

.h\:bgc-indigo-600:hover {
  background-color: #3949ab;
}

.h\:bgc-indigo-700:hover {
  background-color: #303f9f;
}

.h\:bgc-indigo-800:hover {
  background-color: #283593;
}

.h\:bgc-indigo-900:hover {
  background-color: #1a237e;
}

.h\:bgc-indigo-A100:hover {
  background-color: #8c9eff;
}

.h\:bgc-indigo-A200:hover {
  background-color: #536dfe;
}

.h\:bgc-indigo-A400:hover {
  background-color: #3d5afe;
}

.h\:bgc-indigo-A700:hover {
  background-color: #304ffe;
}

.h\:bgc-blue-50:hover {
  background-color: #e3f2fd;
}

.h\:bgc-blue-100:hover {
  background-color: #bbdefb;
}

.h\:bgc-blue-200:hover {
  background-color: #90caf9;
}

.h\:bgc-blue-300:hover {
  background-color: #64b5f6;
}

.h\:bgc-blue-400:hover {
  background-color: #42a5f5;
}

.h\:bgc-blue-500:hover {
  background-color: #2196f3;
}

.h\:bgc-blue-600:hover {
  background-color: #1e88e5;
}

.h\:bgc-blue-700:hover {
  background-color: #1976d2;
}

.h\:bgc-blue-800:hover {
  background-color: #1565c0;
}

.h\:bgc-blue-900:hover {
  background-color: #0d47a1;
}

.h\:bgc-blue-A100:hover {
  background-color: #82b1ff;
}

.h\:bgc-blue-A200:hover {
  background-color: #448aff;
}

.h\:bgc-blue-A400:hover {
  background-color: #2979ff;
}

.h\:bgc-blue-A700:hover {
  background-color: #2962ff;
}

.h\:bgc-green-50:hover {
  background-color: #e8f5e9;
}

.h\:bgc-green-100:hover {
  background-color: #c8e6c9;
}

.h\:bgc-green-200:hover {
  background-color: #a5d6a7;
}

.h\:bgc-green-300:hover {
  background-color: #81c784;
}

.h\:bgc-green-400:hover {
  background-color: #66bb6a;
}

.h\:bgc-green-500:hover {
  background-color: #4caf50;
}

.h\:bgc-green-600:hover {
  background-color: #43a047;
}

.h\:bgc-green-700:hover {
  background-color: #388e3c;
}

.h\:bgc-green-800:hover {
  background-color: #2e7d32;
}

.h\:bgc-green-900:hover {
  background-color: #1b5e20;
}

.h\:bgc-green-A100:hover {
  background-color: #b9f6ca;
}

.h\:bgc-green-A200:hover {
  background-color: #69f0ae;
}

.h\:bgc-green-A400:hover {
  background-color: #00e676;
}

.h\:bgc-green-A700:hover {
  background-color: #00c853;
}

.h\:bgc-orange-50:hover {
  background-color: #fff3e0;
}

.h\:bgc-orange-100:hover {
  background-color: #ffe0b2;
}

.h\:bgc-orange-200:hover {
  background-color: #ffcc80;
}

.h\:bgc-orange-300:hover {
  background-color: #ffb74d;
}

.h\:bgc-orange-400:hover {
  background-color: #ffa726;
}

.h\:bgc-orange-500:hover {
  background-color: #ff9800;
}

.h\:bgc-orange-600:hover {
  background-color: #fb8c00;
}

.h\:bgc-orange-700:hover {
  background-color: #f57c00;
}

.h\:bgc-orange-800:hover {
  background-color: #ef6c00;
}

.h\:bgc-orange-900:hover {
  background-color: #e65100;
}

.h\:bgc-orange-A100:hover {
  background-color: #ffd180;
}

.h\:bgc-orange-A200:hover {
  background-color: #ffab40;
}

.h\:bgc-orange-A400:hover {
  background-color: #ff9100;
}

.h\:bgc-orange-A700:hover {
  background-color: #ff6d00;
}

.h\:bgc-grey-50:hover {
  background-color: #fafafa;
}

.h\:bgc-grey-100:hover {
  background-color: #f5f5f5;
}

.h\:bgc-grey-200:hover {
  background-color: #eeeeee;
}

.h\:bgc-grey-300:hover {
  background-color: #e0e0e0;
}

.h\:bgc-grey-400:hover {
  background-color: #bdbdbd;
}

.h\:bgc-grey-500:hover {
  background-color: #9e9e9e;
}

.h\:bgc-grey-600:hover {
  background-color: #757575;
}

.h\:bgc-grey-700:hover {
  background-color: #616161;
}

.h\:bgc-grey-800:hover {
  background-color: #424242;
}

.h\:bgc-grey-900:hover {
  background-color: #212121;
}

.fz-1 {
  font-size: 0.625rem;
}

.fz-2 {
  font-size: 0.75;
}

.fz-3 {
  font-size: 0.825rem;
}

.fz-4 {
  font-size: 1rem;
}

.fz-5 {
  font-size: 1.125rem;
}

.fz-6 {
  font-size: 1.25rem;
}

.fz-7 {
  font-size: 1.375rem;
}

.fz-8 {
  font-size: 1.5rem;
}

.fz-9 {
  font-size: 1.625rem;
}

.fz-10 {
  font-size: 1.75rem;
}

.fz-11 {
  font-size: 1.825rem;
}

.fz-12 {
  font-size: 2rem;
}

.fz-13 {
  font-size: 2.125rem;
}

.fz-14 {
  font-size: 2.25rem;
}

.fz-15 {
  font-size: 2.375rem;
}

.fz-16 {
  font-size: 2.5rem;
}

.fz-17 {
  font-size: 2.625rem;
}

.fz-18 {
  font-size: 2.7rem;
}

.fz-19 {
  font-size: 2.825rem;
}

.fz-20 {
  font-size: 3rem;
}

.fw-1 {
  font-weight: 100;
}

.fw-2 {
  font-weight: 200;
}

.fw-3 {
  font-weight: 300;
}

.fw-4 {
  font-weight: 400;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

.fw-9 {
  font-weight: 900;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.ta-l {
  text-align: left;
}

.ta-j {
  text-align: justify;
}

.tt-n {
  text-transform: none;
}

.tt-c {
  text-transform: capitalize;
}

.tt-u {
  text-transform: uppercase;
}

.tt-l {
  text-transform: lowercase;
}

.va-b {
  vertical-align: bottom;
}

.va-bl {
  vertical-align: baseline;
}

.va-m {
  vertical-align: middle;
}

.va-sub {
  vertical-align: sub;
}

.va-sup {
  vertical-align: super;
}

.va-t {
  vertical-align: top;
}

.va-tb {
  vertical-align: text-bottom;
}

.va-tt {
  vertical-align: text-top;
}

.v-v {
  visibility: visible;
}

.v-h {
  visibility: hidden;
}

.v-c {
  visibility: collapse;
}

.opa-0 {
  opacity: 0%;
}

.opa-1 {
  opacity: 10%;
}

.opa-2 {
  opacity: 20%;
}

.opa-3 {
  opacity: 30%;
}

.opa-4 {
  opacity: 40%;
}

.opa-5 {
  opacity: 50%;
}

.opa-6 {
  opacity: 60%;
}

.opa-7 {
  opacity: 70%;
}

.opa-8 {
  opacity: 80%;
}

.opa-9 {
  opacity: 90%;
}

.h\:opa-0:hover {
  opacity: 0%;
}

.h\:opa-1:hover {
  opacity: 10%;
}

.h\:opa-2:hover {
  opacity: 20%;
}

.h\:opa-3:hover {
  opacity: 30%;
}

.h\:opa-4:hover {
  opacity: 40%;
}

.h\:opa-5:hover {
  opacity: 50%;
}

.h\:opa-6:hover {
  opacity: 60%;
}

.h\:opa-7:hover {
  opacity: 70%;
}

.h\:opa-8:hover {
  opacity: 80%;
}

.h\:opa-9:hover {
  opacity: 90%;
}

.a\:opa-0:active {
  opacity: 0%;
}

.a\:opa-1:active {
  opacity: 10%;
}

.a\:opa-2:active {
  opacity: 20%;
}

.a\:opa-3:active {
  opacity: 30%;
}

.a\:opa-4:active {
  opacity: 40%;
}

.a\:opa-5:active {
  opacity: 50%;
}

.a\:opa-6:active {
  opacity: 60%;
}

.a\:opa-7:active {
  opacity: 70%;
}

.a\:opa-8:active {
  opacity: 80%;
}

.a\:opa-9:active {
  opacity: 90%;
}

.trsdu-1 {
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.trsdu-2 {
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
}

.trsdu-3 {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.trsdu-4 {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
}

.trsdu-5 {
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.trsdu-6 {
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}

.trsdu-7 {
  -webkit-transition-duration: 700ms;
          transition-duration: 700ms;
}

.trsdu-8 {
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
}

.trsdu-9 {
  -webkit-transition-duration: 900ms;
          transition-duration: 900ms;
}

.cur-a {
  cursor: auto;
}

.cur-d {
  cursor: default;
}

.cur-p {
  cursor: pointer;
}

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.16667%;
          flex: 0 0 4.16667%;
  max-width: 4.16667%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.5%;
          flex: 0 0 12.5%;
  max-width: 12.5%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20.83333%;
          flex: 0 0 20.83333%;
  max-width: 20.83333%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 29.16667%;
          flex: 0 0 29.16667%;
  max-width: 29.16667%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.5%;
          flex: 0 0 37.5%;
  max-width: 37.5%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45.83333%;
          flex: 0 0 45.83333%;
  max-width: 45.83333%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-13 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54.16667%;
          flex: 0 0 54.16667%;
  max-width: 54.16667%;
}

.col-14 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-15 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62.5%;
          flex: 0 0 62.5%;
  max-width: 62.5%;
}

.col-16 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-17 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70.83333%;
          flex: 0 0 70.83333%;
  max-width: 70.83333%;
}

.col-18 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-19 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 79.16667%;
          flex: 0 0 79.16667%;
  max-width: 79.16667%;
}

.col-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-21 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 87.5%;
          flex: 0 0 87.5%;
  max-width: 87.5%;
}

.col-22 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-23 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 95.83333%;
          flex: 0 0 95.83333%;
  max-width: 95.83333%;
}

.col-24 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 600px) {
  .xs\:col {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .xs\:col-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .xs\:col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 4.16667%;
            flex: 0 0 4.16667%;
    max-width: 4.16667%;
  }
  .xs\:col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .xs\:col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12.5%;
            flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .xs\:col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .xs\:col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20.83333%;
            flex: 0 0 20.83333%;
    max-width: 20.83333%;
  }
  .xs\:col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .xs\:col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 29.16667%;
            flex: 0 0 29.16667%;
    max-width: 29.16667%;
  }
  .xs\:col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .xs\:col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.5%;
            flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .xs\:col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .xs\:col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45.83333%;
            flex: 0 0 45.83333%;
    max-width: 45.83333%;
  }
  .xs\:col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .xs\:col-13 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 54.16667%;
            flex: 0 0 54.16667%;
    max-width: 54.16667%;
  }
  .xs\:col-14 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .xs\:col-15 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 62.5%;
            flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .xs\:col-16 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .xs\:col-17 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70.83333%;
            flex: 0 0 70.83333%;
    max-width: 70.83333%;
  }
  .xs\:col-18 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .xs\:col-19 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 79.16667%;
            flex: 0 0 79.16667%;
    max-width: 79.16667%;
  }
  .xs\:col-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .xs\:col-21 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 87.5%;
            flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .xs\:col-22 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .xs\:col-23 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95.83333%;
            flex: 0 0 95.83333%;
    max-width: 95.83333%;
  }
  .xs\:col-24 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 960px) {
  .md\:col {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .md\:col-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .md\:col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 4.16667%;
            flex: 0 0 4.16667%;
    max-width: 4.16667%;
  }
  .md\:col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .md\:col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12.5%;
            flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .md\:col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .md\:col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20.83333%;
            flex: 0 0 20.83333%;
    max-width: 20.83333%;
  }
  .md\:col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .md\:col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 29.16667%;
            flex: 0 0 29.16667%;
    max-width: 29.16667%;
  }
  .md\:col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .md\:col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.5%;
            flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .md\:col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .md\:col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45.83333%;
            flex: 0 0 45.83333%;
    max-width: 45.83333%;
  }
  .md\:col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .md\:col-13 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 54.16667%;
            flex: 0 0 54.16667%;
    max-width: 54.16667%;
  }
  .md\:col-14 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .md\:col-15 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 62.5%;
            flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .md\:col-16 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .md\:col-17 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70.83333%;
            flex: 0 0 70.83333%;
    max-width: 70.83333%;
  }
  .md\:col-18 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .md\:col-19 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 79.16667%;
            flex: 0 0 79.16667%;
    max-width: 79.16667%;
  }
  .md\:col-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .md\:col-21 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 87.5%;
            flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .md\:col-22 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .md\:col-23 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95.83333%;
            flex: 0 0 95.83333%;
    max-width: 95.83333%;
  }
  .md\:col-24 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1280px) {
  .lg\:col {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .lg\:col-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .lg\:col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 4.16667%;
            flex: 0 0 4.16667%;
    max-width: 4.16667%;
  }
  .lg\:col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .lg\:col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12.5%;
            flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .lg\:col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .lg\:col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20.83333%;
            flex: 0 0 20.83333%;
    max-width: 20.83333%;
  }
  .lg\:col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .lg\:col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 29.16667%;
            flex: 0 0 29.16667%;
    max-width: 29.16667%;
  }
  .lg\:col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .lg\:col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.5%;
            flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .lg\:col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .lg\:col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45.83333%;
            flex: 0 0 45.83333%;
    max-width: 45.83333%;
  }
  .lg\:col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .lg\:col-13 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 54.16667%;
            flex: 0 0 54.16667%;
    max-width: 54.16667%;
  }
  .lg\:col-14 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .lg\:col-15 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 62.5%;
            flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .lg\:col-16 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .lg\:col-17 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70.83333%;
            flex: 0 0 70.83333%;
    max-width: 70.83333%;
  }
  .lg\:col-18 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .lg\:col-19 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 79.16667%;
            flex: 0 0 79.16667%;
    max-width: 79.16667%;
  }
  .lg\:col-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .lg\:col-21 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 87.5%;
            flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .lg\:col-22 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .lg\:col-23 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95.83333%;
            flex: 0 0 95.83333%;
    max-width: 95.83333%;
  }
  .lg\:col-24 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1920px) {
  .xl\:col {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    max-width: 100%;
  }
  .xl\:col-auto {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .xl\:col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 4.16667%;
            flex: 0 0 4.16667%;
    max-width: 4.16667%;
  }
  .xl\:col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .xl\:col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 12.5%;
            flex: 0 0 12.5%;
    max-width: 12.5%;
  }
  .xl\:col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .xl\:col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20.83333%;
            flex: 0 0 20.83333%;
    max-width: 20.83333%;
  }
  .xl\:col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .xl\:col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 29.16667%;
            flex: 0 0 29.16667%;
    max-width: 29.16667%;
  }
  .xl\:col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .xl\:col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 37.5%;
            flex: 0 0 37.5%;
    max-width: 37.5%;
  }
  .xl\:col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .xl\:col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45.83333%;
            flex: 0 0 45.83333%;
    max-width: 45.83333%;
  }
  .xl\:col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .xl\:col-13 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 54.16667%;
            flex: 0 0 54.16667%;
    max-width: 54.16667%;
  }
  .xl\:col-14 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .xl\:col-15 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 62.5%;
            flex: 0 0 62.5%;
    max-width: 62.5%;
  }
  .xl\:col-16 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .xl\:col-17 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70.83333%;
            flex: 0 0 70.83333%;
    max-width: 70.83333%;
  }
  .xl\:col-18 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .xl\:col-19 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 79.16667%;
            flex: 0 0 79.16667%;
    max-width: 79.16667%;
  }
  .xl\:col-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .xl\:col-21 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 87.5%;
            flex: 0 0 87.5%;
    max-width: 87.5%;
  }
  .xl\:col-22 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .xl\:col-23 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 95.83333%;
            flex: 0 0 95.83333%;
    max-width: 95.83333%;
  }
  .xl\:col-24 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */